<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/masks.js' %}"></script>
    <script src="{% static 'js/swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'js/swagger-ui-standalone-preset.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
  
    
  </head>
  <body>
    
    <nav style="margin-bottom:30px;" class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'stock_list' %}">Stock List</a></li>
            <li><a href="{% url 'open_position_list' %}">Open Position List</a></li>
          </ul>
          
          
        </div>
      </div>
    </nav>

    

      {% if errors %}
      {% for error in errors %}
        <div class="alert alert-danger" role="alert"> {{ error }}</div>
      {% endfor %}
      {% endif %}

      {% block body_block %}
      {% endblock%}
    
  </body>
</html>

